/* Navbar stili */
.navbar {
    background-color: #fff;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    flex: 1;
    justify-content: center;
}

.nav-links li {
    cursor: pointer;
    font-weight: 500;
    color: #333;
    transition: color 0.3s ease;
}

.nav-links li:hover {
    color: #007bff;
}

/* Arama Çubuğu */
.search-container {
    flex: 0.8;
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.search-input {
    width: 100%;
    max-width: 300px;
    padding: 8px 15px;
    font-size: 0.9rem;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    transition: all 0.3s ease;
}

.search-input::placeholder {
    color: #aaa;
}

.search-input:focus {
    border-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

/* İkonlar */
.nav-icons {
    display: flex;
    gap: 20px;
}

.icon {
    font-size: 1.1rem;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #007bff;
}

/* Cart Dropdown Styling */
.cart-dropdown {
    position: absolute;
    right: 10px;
    top: 50px;
    width: 300px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 16px;
    z-index: 1000;
}

.cart-items {
    list-style: none;
    padding: 0;
    margin: 0 0 16px 0;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.cart-total {
    font-weight: bold;
    text-align: right;
    margin-bottom: 16px;
}

.cart-actions {
    display: flex;
    justify-content: space-between;
}

.view-cart-link,
.checkout-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.view-cart-link:hover,
.checkout-button:hover {
    background-color: #0056b3;
}

.close-dropdown {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 16px;
    cursor: pointer;
}


.view-cart-link {
    background: none;
    border: none;
    color: #333;
    font-size: 1rem;
    text-decoration: underline;
    cursor: pointer;
    padding: 0;
}

.checkout-button {
    background-color: #333;
    color: #fff;
    font-size: 1rem;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.close-dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: #888;
    cursor: pointer;
}
