/* Navbar stili */
.navbar {
    background-color: #fff;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

.logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px;
    flex: 1;
    justify-content: center;
}

.nav-links li {
    cursor: pointer;
    font-weight: 500;
    color: #333;
    transition: color 0.3s ease;
}

.nav-links li:hover {
    color: #007bff;
}

/* Arama Çubuğu */
.search-container {
    flex: 0.8;
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

.search-input {
    width: 100%;
    max-width: 300px;
    padding: 8px 15px;
    font-size: 0.9rem;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    transition: all 0.3s ease;
}

.search-input::placeholder {
    color: #aaa;
}

.search-input:focus {
    border-color: #007bff;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

/* İkonlar */
.nav-icons {
    display: flex;
    gap: 20px;
}

.icon {
    font-size: 1.1rem;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #007bff;
}
